<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qtrguvatf@whavcre.arg</string>
	<key>contactName</key>
	<string>David Gethings</string>
	<key>description</key>
	<string>An API for certain Juniper Networks routing platforms.</string>
	<key>name</key>
	<string>Junoscript</string>
	<key>uuid</key>
	<string>53F2EBB2-95B3-449D-BE1C-BD6381048670</string>
</dict>
</plist>
